:root {
  --otherColor:#2C3639;
  --border:2px solid #A27B5C;
  --destaque:#15e4d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}

button.normal {
  margin: 2px 10px;
  padding: 15px 20px;
  border: 1px solid white;
  border-radius: 30px;
  border: 2px solid #15e4d6;
  background: transparent;
  color: white;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: white;
}

#container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--otherColor);
  padding: 40px 50px;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
}
#container-header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#container-header .nav-bar li {
  list-style: none;
  padding: 0 15px;
  position: relative;
}
#container-header .nav-bar li a {
  text-transform: uppercase;
  transition: 0.3s;
}
#container-header .nav-bar li a:hover,
#container-header .nav-bar li a.active-list {
  color: var(--destaque);
}
#container-header .nav-bar li a.active-list::after,
#container-header .nav-bar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: var(--destaque);
  bottom: -5px;
  left: 16px;
  position: absolute;
}
#container-header a {
  text-transform: uppercase;
}
#container-header span {
  color: #A27B5C;
}

body {
  width: 100%;
}

h2 {
  font-size: 35px;
  text-align: center;
}

.banner {
  height: 100vh;
  width: 100%;
  margin: auto;
}
.banner img {
  margin: auto;
  height: 500px;
  text-align: center;
  left: 0;
  right: 0;
}

.about {
  width: 100%;
}
.about .about-header {
  margin-bottom: 40px;
}
.about .about-content {
  width: 80%;
  height: 400px;
  background-color: #2C3639;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
}
.about .about-content i {
  width: 50%;
  text-align: center;
}
.about .about-content .about-text {
  width: 50%;
}

.services {
  width: 100%;
}
.services .services-header {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.services .services-header h2 {
  margin-bottom: 40px;
}
.services .servicos-content {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.services .servicos-content .container-img {
  width: 30%;
  background-color: var(--otherColor);
  -webkit-animation: deslize;
          animation: deslize;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
}
.services .servicos-content .container-img h3, .services .servicos-content .container-img .stars {
  color: white;
  margin: 10px;
}
.services .servicos-content .container-img img {
  width: 100%;
}
.services .servicos-content .container-img button:hover {
  color: #2C3639;
  background-color: #15e4d6;
  border: none;
}
.services .servicos-content .container-img .btn-change {
  display: block;
}
.services .servicos-content .hiddin-content {
  color: white;
  margin: 2px;
  display: none;
}
.services .servicos-content .container-img.active .more {
  display: block;
}
.services .container-img.hideen {
  display: none;
}
.services .normal {
  display: block;
  margin: 20px auto;
  background-color: var(--otherColor);
}
.services .normal:hover {
  color: #2C3639;
  background-color: #15e4d6;
  border: none;
}

.contact {
  width: 100%;
  height: 100vh;
  margin-top: 50px;
}
.contact .contact-header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}
.contact p {
  margin-bottom: 20px;
  margin-left: 40px;
}
.contact .contact-conteiner {
  width: 95%;
  position: relative;
  margin: auto;
  display: flex;
  background-color: var(--otherColor);
}
.contact .contact-conteiner iframe {
  width: 50%;
  margin-bottom: 0px;
}
.contact .contact-conteiner form {
  color: white;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}
.contact .contact-conteiner form label {
  text-indent: 10px;
}
.contact .contact-conteiner form input {
  padding: 15px 10px;
  width: 95%;
  margin: 5px auto;
  outline: none;
  border-radius: 50px;
  border: none;
}
.contact .contact-conteiner form input[type=button] {
  background-color: var(--destaque);
  width: 20%;
  transition: 0.3s;
}
.contact .contact-conteiner form input[type=button]:hover {
  border: 2px solid var(--destaque);
  background-color: #FFF;
}
.contact .contact-conteiner form textarea {
  padding: 15px 10px;
  margin-bottom: 20px;
  width: 95%;
  margin: 5px auto;
  outline: none;
  border-radius: 10px;
  border: none;
}
.contact .contact-conteiner form .network {
  color: white;
  text-align: center;
}

footer {
  text-align: center;
  color: white;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background-color: var(--otherColor);
}
footer span {
  color: #A27B5C;
}
footer .btn-input {
  width: 30px;
}

@-webkit-keyframes deslize {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}

@keyframes deslize {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(5%);
  }
}
@media (max-width: 790px) {
  P {
    font-size: 12px;
  }
  nav {
    display: none;
  }
  .about .about-content {
    width: 98%;
    position: relative;
  }
  .about .about-content .about-text {
    font-size: 12px;
    position: absolute;
    right: 0;
  }
  .about .about-content i {
    text-align: center;
  }
  .services .servicos-content {
    width: 98%;
    flex-direction: column;
  }
  .services .servicos-content .container-img {
    width: 100%;
    margin: auto;
  }
  .contact .contact-conteiner {
    width: 100%;
    flex-direction: column;
  }
  .contact p {
    margin-bottom: 20px;
    margin: auto;
    padding: 10px;
  }
  .contact .contact-conteiner iframe {
    width: 98%;
    margin: 10px auto;
  }
  .contact .contact-conteiner form {
    color: white;
    display: flex;
    flex-direction: column;
    width: 98%;
    margin: 15px auto;
  }
  footer {
    margin-top: 100%;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */